.app-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    height: 100vh;
    padding: 2rem;
}
.app-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app-tooltip{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #18181b;
    padding: 2rem;
    background-color: #d4d4d8;
    width: 10rem;
    height: 3rem;
    border-radius: 16px;
   
}

.app-tooltip span{
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 700;
    transform: translate(-50%, -50%);
    font-variant-numeric: tabular-nums;
}